.home-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-wrapper {
  width: 45%;
  height: 550px;
  background-color: rgb(149, 191, 228);
  border-radius: 8px;
}
